<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDayNameInBulgarianService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:33434/DayNameInBulgarian.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDayNameInBulgarianService"
                contract="DayNameInBulgarianService.IDayNameInBulgarianService"
                name="BasicHttpBinding_IDayNameInBulgarianService" />
        </client>
    </system.serviceModel>
</configuration>