<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ISubstringCountService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:1337/SubstringCount.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISubstringCountService"
          contract="ISubstringCountService" name="BasicHttpBinding_ISubstringCountService" />
    </client>
  </system.serviceModel>
</configuration>