<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISubstringCountService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1337/SubstringCount.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISubstringCountService"
                contract="ISubstringCountService" name="BasicHttpBinding_ISubstringCountService" />
        </client>
    </system.serviceModel>
</configuration>